@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@498&display=swap');

.parallax {
  top: 0;
  /* The image used */
  background-image: url("/images/caption.png");
  /*file:///C:/Users/Userr/Desktop/college/MS%20Engage'21/start/public*/

  /* Set a specific height */
  min-height: 500px; 
  max-height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#text {
    height: 500px; 
    font-family: sans-serif;
    background-image: linear-gradient(to right, #854085, violet, plum, violet, #854085);
    font-size:36px;
    text-align: center;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 0px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

body {
    top: 10px;
    right: 0;
    left: 0;
    margin: 0;
    background-color: black;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: black;
    color: #fff;
    padding: 18px;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.btn-color {
    border-radius: 50px;
    color: #fff;
    background-image: linear-gradient(to right, #854085, violet, plum, violet, #854085);
    padding: 15px;
    cursor: pointer;
    border: 2px;
    border-color: #6e396e;
    margin-top: 40px
}

.btn-color:hover {
    color: #fff;
    background-image: linear-gradient(to right, #854085, violet, plum, violet, #854085);
    border: 2px;
    border-color: #6e396e;
}

#menu {
    cursor: pointer;
}

footer {
  text-align: center;
  padding-top: 3px;
  padding-bottom: 0;
  margin-bottom: 0;
  background-color: black;
  color: white;
}